<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557484022449-8udt1ipdegkr2pujac6di25m78dahe93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557484022449-8udt1ipdegkr2pujac6di25m78dahe93</string>
	<key>API_KEY</key>
	<string>AIzaSyCM_2Ef5CWkbgOJT4ybooLm9zd1Ta9MXPE</string>
	<key>GCM_SENDER_ID</key>
	<string>557484022449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iosDev.SDU-Score</string>
	<key>PROJECT_ID</key>
	<string>sdu-score</string>
	<key>STORAGE_BUCKET</key>
	<string>sdu-score.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557484022449:ios:fe94b61ce505d0d45ca090</string>
</dict>
</plist>